* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background: transparent;
}

#particles-js {
    margin-top: -40px;
    position: fixed;
    width: 100%;
    height: 120%;
    background: black;
    z-index: -1;
    overflow: hidden;
}

.header-overlay .container {
    position: relative;
    z-index: 2;
}

header {
    background: transparent;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 10px 0;
}

header h2 {
    margin: 5px 0;
    font-weight: normal;
}

#profile-picture {
    width: 200px;
    height: 175px;
    border-radius: 50%;
    border: 3px solid white;
}

section {
    margin: 15px;
    padding: 10px;
    background: white;
    border-radius: 5px;
}

section h3 {
    margin-top: 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer a {
    color: #00b7ff;
}

.contact-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00b7ff;
    border-radius: 50px;
    transition: background 0.3 ease;
}

.social-btn.linkedin:hover {
    background: #2867B2;
}

.social-btn.github:hover {
    background: #333333;
}

.social-btn i {
    font-size: 1.2em;
}
